/* mobile styles media query*/
@media only screen and (min-width : 370px) {
    .xs-view-only {
        display: none;
    }

 .icont-set-containers {
        padding: 5px !important;
        min-height: 140px;
    }
    
    .icont-set-containers:nth-child(odd) {
        background: rgba(211,211,211, 0.4) !important;
    }
}
@media only screen and (max-width : 768px) {
    .cpu-info::before {
       content:  var (cpu_specs);
    }
 .icont-set-containers {
        padding: 5px !important;
        min-height: 140px;
    }
    .icont-set-containers:nth-child(odd) {
        background: rgba(211,211,211, 0.4) !important;
    }
     .icon-header {
        font-size: 13px !important;
    }
.iconSet-style {
        width: 70%;
    }
.info-mobile-align {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px;
}
.product-cust-containers {
   padding: 30px 0px 20px 0px;
   margin-bottom: 0px !important;
}
.choose-upgrade {
    text-align: center;
    font-size: 13px;
    margin-top: 25px;
}
ul.landing-description li {
    border-bottom: 1px solid white !important;
}
/*additional info style*/
.custom-icon-xs-size {
margin-bottom: 30px;
border-bottom: 1px solid white;
}
/*additional info style*/
.aspire5-description-container {
margin-top: 20px;
}

.text-sm-center {
text-align: center !important;
}

ul.landing-description li, .description-asprie5 {
font-size: 1em !important;
margin-bottom: 7px !important;
font-weight: 400 !important;
}

.acer-aspire5-custom-Heading {
font-size: 1.4em !important;
}

.custom-ssd-button {
font-size: 1em !important;
}

.nav-tabs {
border: none !important;
}

.mobile-img-size {
width: 70%;
}

.nav-tabs li.active a {
padding: 18px 39px !important;
}
.price-tag-label {
padding: 10px 0px 10px 0px !important;
font-size: 2.2em !important;
}
.custom-buyNow-wrapper {
font-size: 1.3em !important;

}
.lv-tag {
font-size: 1.2em !important;
}
.custom-price-wrapper {
padding: 10px !important;
}
.custom-buyNow-wrapper {
padding: 10px !important;
}
.custom-buyNow-wrapper a {
padding: 10px !important;
}
}

/*text colors*/

ul.landing-description li, .description-asprie5 {
color: #000;
font-size: 1.2em;
font-weight: 700;
margin-bottom: 15px;
line-height: 1.4;
}

.aspire5-img-container {
margin-right: 0px;
}

.aspire5-description-container {
max-width: 610px;
}

ul.landing-description li span, .specs-heading-aspire5 {
color: #00bc31;
font-size: 1.1em;
}

.text-sm-xs-center {
text-align: left;
}

.acer-aspire5-custom-Heading {
font-size: 2.5em;
color: #7d7d7d;
margin-bottom: 10px;
}

.choose-model-aspire5 {
color: #000000;
font-size: 1.5em;
}

.hdd-acer {
font-size: 25px;
color: #000000;
}

.choose-border {
padding-top: 20px;
}

ul.landing-description li, .li-description-wrap {
padding: 5px;
border-bottom: 1px solid #00bf34;
}

.description-styles {
color: #000;
}

.custom-ssd-button {
margin: 5px;
font-size: 1.2em;
}

.price-label-acer-aspire5 {
max-width: 348px;
height: 70px;
background: yellowgreen;
border-radius: 5px;
margin-top: 20px;
}

.acer-aspire5-buynow {
padding: 10px;
border: 1px solid coral;
}

.nav-tabs li.active a {
margin: 0px 10px 10px 0px !important;
font-size: inherit;
line-height: inherit;
padding: 9px 22px;
font-weight: 600;
text-transform: none;
transform: none;
transition: 0s;
border-radius: 3px;
}

.nav-tabs li.active a, .nav-tabs li.active a:focus {
    background-color: #00bf34 !important;
}

.nav-tabs li a {
margin: 0px 10px 10px 0px !important;
border-radius: 3px;
}

.button-section {
/*margin-top: 20px;*/
}

.custom-tab-content {
margin-top: 15px;
}

.custom-buttonWrapper-checkout {
padding: 0;
border-radius: 5px;
margin: 0px;
}

.price-tag-label {
font-size: 3em;
font-weight: 700;
padding: 0px;
margin: 0px;
color: white;
}
.lv-tag {
font-size: 1.8em;
font-weight: 700;
padding: 0px;
margin: 0px;
color: white;
}

.buyNow-tag-label {
margin-right: 10px;
}

.custom-price-wrapper {
padding: 7px 20px 6px 27px;
background: #f54085;
}

.custom-buyNow-wrapper {
padding: 0px;
background: #03c236;
font-size: 2em;
font-weight: 700;
color: white;
}
.custom-buyNow-wrapper a {
display: block;
padding: 20px 20px 15px 50px;
color: white !important;
}

.custom-buyNow-wrapper a:hover {
background: lightblue;
color: black !important;
}

.product-cust-containers {
padding: 50px 0px 70px 0px;
margin-bottom: 50px;
border-bottom: 5px solid #f54085;
background: rgba(255, 255, 255, 0.9);
}
.nav-tabs li a {
background-color: #e6e6e6;
}
.choose-color-heading {
font-size: 1.1em;
font-weight: 600;
}
.col-centered {
float:none;
display: inline-block;
}
.img-thumbnail {
border: 0px solid #00bf34;
background: none;
}
.color-heading {
color:black;
}
.color-heading-tumb {
color: #000000;
}
.info-mobile-align { 
margin-bottom: 0px;
}
.mobile-info {
margin-left: 5px;
color: gray !important;
}
.main-banner-padding {
    padding: 0px;
}
.icon-set-row {
    margin: 25px 0px 25px 0px;
}
.iconSet-style {
    margin-bottom: 15px;
}
.icon-header {
        font-size: 1.4em;
    }
.main-banner-s-series {
    margin-right:0px;
    margin-left: 0px;
}
.description-container .color-heading {
margin-bottom: 15px;
}